__pycache__
/picasso_addon/__pycache__
/picasso_addon.egg-info
/build
/dist
.gitignore~
/docs/_build
/docs/_static
/docs/_templates
/picasso_addon/.ipynb_checkpoints
/scripts/standard/.ipynb_checkpoints
/scripts/notebooks/.ipynb_checkpoints